alias aar='sudo add-apt-repository' # add package manager repo, requires ppa 
alias aptlist='apt list --upgradable' # list apt upgrades
alias autorm='sudo apt auto-remove -y' # Cleanup removed apps
alias brave='~/io/gtab brave' # Brave in new term-tab
alias ..='cd ..' # Up 1
alias cls='clear && date' # 
alias EAL='nano ~/.io/.aliases' # Edit Aliases
alias gtab='/home/lij/.io/gtab' # New Gnome-Terminal Tab
alias la='ls -aF' # All with symbols
alias na='~/.io/newAlias' # Create BASH alias
alias nash='sudo nano ~/.ssh/config' # Configure SSH
alias neofetch='clear && neofetch --color_blocks off' # 
alias purge='sudo apt purge -y' # Package Manager remove and clear config
alias q='exit' # quit
alias SER='sudo systemctl' # Service Control
alias setup='sudo apt install -y' # Package Manager Install
alias sna='sudo nano' # Root Text Edit
alias steam='/home/lij/.io/gtab steam' # 'Steam in new term-tab' 
alias update='sudo apt update -y' # Update APT
alias upgrade='sudo apt upgrade -y' # Upgrade apt
alias xtab='/home/lij/.io/xtab' # Open command in new XFCE Terminal tab
