# alias steam='~/.io/gtab steam' # 'Steam in new term-tab' 
alias ..='cd ..' # Up 1
alias ?='cat ~/.io/.aliases' # Alias Help
alias Download='~/.io/Download' # Send pasted URL to Downloads folder
alias EAL='sudo nano ~/.io/.aliases' # Verify user to Edit Aliases
alias SVC='sudo systemctl' # Service Control
alias aar='sudo add-apt-repository' # add package manager repo, requires ppa 
alias aptlist='apt list --upgradable' # list apt upgrades
alias autorm='sudo apt auto-remove -y' # Cleanup removed apps
alias brave='~/.io/Brave' # Well titled Brave browser
alias cat='cat -n' # cat w/  line numbers
alias cls='clear && date | lolcat' # Clear and Date
alias get.ports='sudo netstat -tunlp' # Show listening ports
alias gtab='~/.io/gtab' # New Gnome-Terminal Tab
alias la='ls -aF' # All with symbols
alias na='~/.io/newAlias' # Create Alias
alias nash='sudo nano ~/.ssh/config' # Configure SSH
alias neofetch='clear && neofetch --color_blocks off' # 
alias purge='~/.io/purge' # Package Manager Full Remove
alias q='exit' # quit
alias search='~/.io/search' # Query for Files
alias setup='~/.io/setup' # Package manager install; singular or space-separated list.
alias sna='sudo nano' # Root Text Edit
alias splt='~/.io/split.string' # Split a string into an array
alias steam='~/.io/xtab steam' # 'Steam in new term-tab' 
alias update='sudo apt update -y && apt list --upgradeable' # Update Package Manager
alias upgrade='sudo apt upgrade -y' # Upgrade apt
alias x='~/.io/.sec/.x' # Secret secrets
alias xtab='~/.io/xtab' # Open command in new XFCE Terminal tab
alias brackets='~/.io/gtab brackets' # run in new tab
