alias na='~/.io/newAlias' # Create BASH alias
alias cls='clear && date' # 
alias setup='sudo apt install -y' # Package Manager Install
alias sna='sudo nano' # Root Text Edit
alias neofetch='clear && neofetch --color_blocks off' # 
alias la='ls -aF' # All with symbols
alias purge='sudo apt purge -y' # Package Manager remove and clear config
alias aar='sudo add-apt-repository' # add package manager repo, requires ppa 
alias update='sudo apt update -y' # Update APT
alias upgrade='sudo apt upgrade -y' # Upgrade apt
alias aptList='apt list --upgradable' # list apt upgrades
alias q='exit' # quit
alias EAL='nano ~/.io/.aliases' # Edit Aliases
alias ..='cd ..' # Up 1
alias SER='sudo systemctl' # Service Control
alias aptlist='apt list --upgradable' # Upgrades
alias nash='sudo nano ~/.ssh/config' # Configure SSH
