.naBak
blanks
blanks/**
logs
logs/**
maint/io.CONFIG.save
gpg -K
gpg --expert --edit-key deftclaw
gpg -K
brave
wifi.ON
ls
io -p
cd ~/.io
gits
cat .hist 
rm .hist 
gits
ping 33.66.99.13
sna /etc/hosts
nash
ssh deftclaw@piArch
q
ls
io -p
grv
cd ~/.io
gvr
grv
nash
startxfce4
ls
gem install gimli
ls ~/.config/
cd .config/xfce4/
ls
cd terminal/
ls
v terminalrc 
cd
ls
cd code
ls
cd project/
ls
mkdir ruby+
cd ruby
ls
rm -rf ruby_cal/
rm -rf rails_action/
ls
rm -rf meta/
ls
rm -rf organize/
ls
rm -rf calendar-do/
ls
tal 2 node_modules/
la
rm -rf node_modules/
ls
du.
ls
cd ruby+/
mkdir term_opac
cd term_opac/
ls
..
ls
mv term_opac/ terminal_opacity
ls
cd
ls
cd code/project/ruby+/terminal_opacity/
ls
v
cat /etc/nanorc
ls
irb
hs term
history | grep term
ls
? nx
nx duck ruby
rm duck 
ls
v /tmp/doc
dev
fg
save
ls
fg
ls
irb
cat ~/.irb_history 
irb
cat ~/.irb_history 
irb
ls ~/.config/xfce4/terminal/terminalrc 
ls
fg
tail ~/.irb_history 
irb
nx scriptby
rm scriptby 
nx scriptby ruby
cd ~/.io
gits
gp
gpg -K
cd ~/Downloads/
ls
rm -r ruby-deep-dive.zip 
ls
cd
ls
cd Documents/
ls
cd Projects/
ls
..
ls
..
ls
cd daq
ls
cd data/
ls
cd open/
ls
ls rsrch/
..
ls
ls closed/
..
ls
cd Downloads/
ls
..
ls
ls default
ls defaults
cd Downloads/
ls
tar ruby-deep-dive.zip 
unzip ruby-deep-dive.zip 
ls
cd ruby-deep-dive
ls
cd ruby-deep-dive-v7/
ls
brave ./*.pdf
ls
ls mindmaps/
display mindmaps/ruby-blocks.png 
display mindmaps/ruby-hash.png 
ssh -v
man ssh
ssh --version
ssh -V
v ~/.ssh/config
cd ~/.io
git config -d
git config -e
nash
mv ~/.ssh/config.d/github.com ~/.ssh/config.d/github
nash github
git config -e
git config -l
git config global -e
git config --global -e
fg
git config --global -e
fg
v ~/.gitconfig
nash github
gpg --list-secret-keys
gpg --help
gpg -K
gpg -K --keyid-format=long
nash github
v ~/.gitconfig
ls
gpg -se -r deftclaw LICENSE 
ls
rm LICENSE
ls
gpg LICENSE.gpg 
ls /tmp
tal 2 /tmp
tal 3 /tmp
jobs
fg 1
jobs
fg3
fg 3
fg
hs gpg
gpg -K --keyid-format=long
gpg --expert --edit-key 7A9A6869230948A5
gpg -K --keyid-format=long
git config --global -e
hs gpg
na gpg.long 'gpg -K --keyid-format=long' 'Granular reference numbers'
gpg.long
=-ls
ls
git config --global -e
gpg --edit key 7A9A6869230948A5
gpg --edit-key 7A9A6869230948A5
man gpg
gpg --edit-key 7A9A6869230948A5
gpg-option --options
man gpg
git config --global -e
ls
gpg -K
gpg --edit-key 7A9A6869230948A5
ip a
killall thunar
ls
rm *.gpg
gpg -K
q
