[submodule "config/PSV"]
	path = config/PSV
	url = https://github.com/briskbear/cfg_ps1
[submodule "config/ruby"]
	path = config/ruby
	url = https://github.com/briskbear/cfg_ruby
  branch = light
[submodule "config/i3"]
	path = config/i3
	url = https://github.com/briskbear/cfg_i3
	branch = master
[submodule "config/nvim"]
	path = config/nvim
	url = https://github.com/briskbear/cfg_nvim
	branch = 0.2.3
