[submodule "config/i3"]
	path = config/i3
	url = https://github.com/briskbear/cfg_i3
[submodule "config/PSV"]
	path = config/PSV
	url = https://github.com/briskbear/cfg_ps1
[submodule "config/ruby"]
	path = config/ruby
	url = https://github.com/briskbear/cfg_ruby
