alias aar='sudo add-apt-repository' # add package manager repo, requires ppa 
alias aptlist='apt list --upgradable' # list apt upgrades
alias archv='$HOME/.io/Archive' # Archive $files $ArchiveName
alias autorm='sudo apt auto-remove -y' # Cleanup removed apps
alias brackets='$HOME/.io/gtab brackets' # run in new tab
alias brave='$HOME/.io/Brave' # Well titled Brave browser
alias ?='cat $HOME/.io/.aliases' # Alias Help
alias cat='cat -n' # cat w/  line numbers
alias ..='cd ..' # Up 1
alias cleanpass='rm $HOME/Templates/Database.kdbx' # Clear KPDB
alias cls='clear && date | lolcat' # Clear and Date
alias Download='$HOME/.io/Download' # Send pasted URL to Downloads folder
alias EAL='sudo nano +3 $HOME/.io/config/.aliases' # Verify user to Edit Aliases
alias gcc='/root/.io/git.CLONE' # 
alias gen.RM='$HOME/.io/gen.README' # Generate Markdown readme for a script
alias get.ports='sudo netstat -tunlp' # Show listening ports
alias gim='$HOME/.io/gim' # 
alias gio='$HOME/.io/nano.GITPUSH' # 
alias gtab='$HOME/.io/gtab' # New Gnome-Terminal Tab
alias keepass='sudo $HOME/KeePass && gtab keepass2' # Password Vault
alias lal='ls -alF' # Perms List with Icons
alias la='ls -aF' # All with symbols
alias na='$HOME/.io/newAlias' # Create Alias
alias nano='nano -N' # 
alias nash='sudo nano +3 $HOME/.ssh/config' # Configure SSH
alias neofetch='clear && neofetch --color_blocks off' # 
alias purge='$HOME/.io/Arch/Purge' # Package Manager Full Remover
alias q='exit' # quit
alias search='$HOME/.io/search' # Query for Files
alias setCFG='$HOME/.io/Prepdot' # Update .io Configs
alias setup='$HOME/.io/Arch/Setup' # Package manager install; singular or space-separated list.
alias sna='sudo nano +3' # Root Text Edit
alias splt='$HOME/.io/split.string' # Split a string into an array
alias ssDisplay='export DISPLAY=:0' # Prep ssh session display
alias steam='$HOME/.io/gtab steam' # 'Steam in new term-tab' 
alias steam='$HOME/.io/xtab steam' # 'Steam in new term-tab' 
alias SVC='sudo systemctl' # Service Control
alias tar.ext='tar -xjvf' # extract tbz2
alias tar.list='tar -i -tf' # List files in an appended tbz2 archive
alias update='sudo apt update -y && apt list --upgradeable' # Update Package Manager
alias upgrade='sudo apt upgrade -y' # Upgrade apt
alias vash='vim $HOME/.ssh/config' # 
alias x='$HOME/.io/.sec/.x' # Secret secrets
alias xtab='$HOME/.io/xtab' # Open command in new XFCE Terminal tab
