shopt -s expand_aliases
# alias setAl='source ~/.bashrc'                                                                              #  Reloads Aliases (PS1) [Defined in .bashrc Hence #]
# alias steam='$HOME/.io/gtab steam'                                                                          #  'Steam in new term-tab'
alias +x='chmod -v +x'                                                                                                             #  Whoops
alias ..='cd ../'                                                                                                                  #  Up 1
alias ?='/tmp/blks/?'                                                                                                              #  Query Aliases
alias E='export'                                                                                                                   #  Set an environment variable or function
alias EAL="$EDITOR $HOME/.io/config/.aliases"                                                                                      #  Edit Aliases
alias EALL="$EDITOR $HOME/.config/io/local_aliases"                                                                                #  Configure Local Aliases
alias ECP='$EDITOR ~/.config/io/custom_path'                                                                                       #  Edit io custom path
alias GP='git push'                                                                                                                #  Big is push little is pull
alias GPset='git push --set-upstream origin master'                                                                                #  Git Push Setup Repo
alias RED='RAILS_ENV=development'                                                                                                  #  Rails Development
alias REP='RAILS_ENV=production'                                                                                                   #  CAUTION: assigns affecting production DBth
alias RET='RAILS_ENV=test'                                                                                                         #  Rails testing
alias SVC='sudo systemctl'                                                                                                         #  Service Control
alias Teams='while [ $? -lt 1 ];do killall teams &>> /tmp/.0 ;done; teams'                                                         #  Reload MS teams
alias aar='sudo add-apt-repository'                                                                                                #  add package manager repo, requires ppa
alias aliases='~/.io/alias'                                                                                                        #  All aliases + Descriptions in less / just aliases matching argument
alias aptlist='apt list --upgradable'                                                                                              #  list apt upgrades
alias archv='$HOME/.io/Archive'                                                                                                    #  Archive $files $ArchiveName
alias autorm='sudo apt auto-remove -y'                                                                                             #  Cleanup removed apps
alias bat='batcat'                                                                                                                 #  syntax and formatting
alias brave='Brave'                                                                                                                #  Call the blank not the bin
alias brkln='echo "#################################################### $(date) ###############################################"'  #  insert visual break
alias c='xclip -selection clipboard'                                                                                               #  Copy to Xclipboard
alias capp='bundle exec cap production'                                                                                            #  Bundle capistrano!
alias catto='cat << eof >>'                                                                                                        #  Append multiple lines
alias cleanpass='rm $HOME/Templates/Database.kdbx'                                                                                 #  Clear KPDB
alias clone='git clone'                                                                                                            #  Clone a REPO
alias cls='clear && date | lolcat -a'                                                                                              #  Clear and Date
alias ctmux='$EDITOR ~/.config/tmux/tmux.conf'                                                                                     #  Configure tmux
alias dira='direnv allow'                                                                                                          #  Activate local .direnv file
alias disks='gnome-disks'                                                                                                          #  Yeah What?!
alias docc='docker-compose'                                                                                                        #  Invoke docker-compose
alias docker='sudo docker'                                                                                                         #  docker always sudo
alias du.='sudo du -hs ./*'                                                                                                        #  list current directory and sizes
alias eek='gpg --expert --edit-key'                                                                                                #  Edit gpg key with all options
alias g='grep'                                                                                                                     #  search file contents
alias gaa='git add --all\; git status'                                                                                             #  Thats pretty verbose
alias gan='git update-index --no-assume-unchanged'                                                                                 #  git undo assume unchanged
alias gau='git update-index --assume-unchanged'                                                                                    #  git assume unchanged
alias gb='git branch'                                                                                                              #  Git Branch
alias gbo='git branch --set-upstream-to=origin/master master'                                                                      #  Set the branch origin
alias gc='git clone'                                                                                                               #  Clone a new repo!
alias gcam='git.COMMIT'                                                                                                            #  commit all supply message on CLI
alias gcan='git commit -m'                                                                                                         #  Git commit all NANO the commit msg
alias gch='git.CLONE'                                                                                                              #  Clone from GitHub, only need <usrname>/<repo> [destination_dir]
alias gck='git checkout'                                                                                                           #  Switch banches
alias gcl='git clone git@gitlab:'                                                                                                  #  Clone from gitlab
alias gcu='git reset HEAD~'                                                                                                        #  Git Commit Undo
alias gen.RM='gen.README'                                                                                                          #  Generate Markdown readme for a script
alias get.ports='sudo netstat -tunlp'                                                                                              #  Show listening ports
alias gfa='for remote in `git branch -r`; do git branch --track ${remote#origin/} $remote; done &>> /tmp/.0'                       #  Get all branches, so you can choose on cli
alias gim='$HOME/.io/gim'                                                                                                          #  Edit in Vim and then commit
alias gio='$HOME/.io/nano.GITPUSH'                                                                                                 #  Edit in nano then push
alias gioc='git add ~/.io/config/.*'                                                                                               #  Add hidden configs in .io/config
alias gir='git.INIT'                                                                                                               #  Initialize and add origin remote <url_required>
alias gitre='git rebase && git push'                                                                                               #  Rebase & push
alias gits='(gpt ; git status)'                                                                                                    #  Status of the local git project
alias gm='git merge'                                                                                                               #  git merge <target_branch>
alias gmm='git merge master'                                                                                                       #  Merge master branch with current branch(test-compat)
alias gnb='git checkout -n'                                                                                                        #  Create a new branch
alias gp='git pull'                                                                                                                #  Little is pull big is push
alias gp='git stash && git pull && git stash apply'                                                                                #  Little is pull big is push
alias gpg.long='gpg -K --keyid-format=long'                                                                                        #  Granular reference numbers
alias gpt='printf "Pulled at: " && stat -c %y .git/FETCH_HEAD'                                                                     #  Time of Most recent local git pull
alias gra='git remote add origin'                                                                                                  #  Add remote (origin) <remote_url>
alias groups='groups $USER'                                                                                                        #  List appended groups also
alias grv='git remote -v'                                                                                                          #  check remotes
alias gsa='git stash apply'                                                                                                        #  Apply stashed git changes
alias gst='git stash'                                                                                                              #  Stash git changes
alias gt='/tmp/blks/git.TAG'                                                                                                       #  Git tag <ver> [message]
alias gtab='$HOME/.io/gtab'                                                                                                        #  New Gnome-Terminal Tab
alias help="help  "                                                                                                                #  "don\'t forget to use 'help', and "<cmd> --help" if you need bash commands!"
alias hs='history | grep -n'                                                                                                       #  Search recent commands
alias hst='DS.host'                                                                                                                #  host titlebar
alias httpry.c='httpry -i wlan0'                                                                                                   #  Monitor http requests on default NIC
alias installed?='Query'                                                                                                           #  ask if packages are installed
alias io='. $HOME/.io/maint/io'                                                                                                    #  Meta io, get help, configure
alias iorc='$EDITOR ~/.config/io/iorc'                                                                        #
alias ipl="printf \"Local IP: $(ip a | grep 10.245 | cut -f6 -d ' ') \n\""                                                         #  Local IP address
alias jobs='jobs -l'                                                                                                               #  Always show PID
alias jqs='jq .scripts package.json'                                                                                               #  Lists available jquery scripts
alias keepass='/usr/bin/keepass'                                                                                                   #  Password Vault
alias la='ls -ahF'                                                                                                                 #  All with symbols
alias ll='ls -ahlF'                                                                                                                #  Perms List with Icons
alias marktext='/usr/bin/marktext.AppImage'                                                                                        #  MarkText Notes
alias na='newAlias'                                                                                                                #  Create a 'New Alias'
alias nabak='mkdir /tmp/.naBak'                                                                                                    #  set nano
alias nanorc?='ls ~/.io/config/nano/nanorc | grep nanorc'                                                                          #  Is there a vimrc file in the proper config directory?
alias nla='newAlias -l'                                                                                                            #  Create a 'New Local Alias'
alias nv='nvim +3'                                                                                                                 #  Start nvim on the 3rd line
alias nvimrc='nv ~/.config/nvim/init.vim'                                                                                          #  Configure nvim
alias nx='vi.EXEC'                                                                                                                 #  New Executable <file_path> [script_lang]
alias p='/tmp/blks/Process'                                                                                                        #  Start a background job with stdout to /tmp/log/<process_name.log>
alias pac='sudo pacman'                                                                                                            #  Invoke pacman with no arguments; so you can specify breifly
alias paclock='/tmp/blks/Arch/pacman.UNLOCK'                                                                                       #  Unlock pacman package manager
alias pls='gpg --list-secret-keys'                                                                                                 #  'List Secret'
alias prof='source ~/.profile'                                                                                                     #  Re-source bash
alias purge='Purge'                                                                                                                #  Package Manager Uninstalls and deletes *global* configs. Check ~/.config/<pkg_name>
alias q='exit'                                                                                                                     #  quit
alias rails='bundle exec rails'                                                                                                    #  Start local rails
alias railssb='rails s -b 0.0.0.0'                                                                                                 #  rails server access anywhere
alias rake='bundle exec rake'                                                                                                      #  local ver
alias rc='rails console'                                                                                                           #  Rails console, environment setable
alias rp='realpath'                                                                                                                #  full path to pointed
alias rspec='bundle exec rspec'                                                                                                    #  always bundle exec your rspec
alias rsy='rsync -aAXP'                                                                                                            #  Rsync preserve all <source> <destination>
alias runner='tail -f /tmp/.0'                                                                                                     #  Read io logs
alias search='$HOME/.io/search'                                                                                                    #  Query for Files
alias setCFG='$HOME/.io/maint/io.CONFIG'                                                                                           #  Update .io Configs
alias setup='Setup'                                                                                                                #  Package manager install; singular or space-separated list.
alias sna='sudo $EDITOR'                                                                                                           #  Root Text Edit
alias splt='$HOME/.io/split.string'                                                                                                #  Split a string into an array
alias ssDisplay='export DISPLAY=:0'                                                                                                #  Prep ssh session display
alias steam='$HOME/.io/blanks/xtab steam'                                                                                          #  'Steam in new term-tab'
alias sudo='sudo  '                                                                                                                #  sudo enable .io/config/.aliases
alias sv='sudo nvim'                                                                                                               #  no args sudo
alias ta='tmux.ATTACH'                                                                                                             #  Tmux attach target <target>
alias tal='tree --du -aFhlQL'                                                                                                      #  Tree + Hidden for x layers:: tal <x> [<path>]
alias tar.ext='tar -xjvf'                                                                                                          #  extract tbz2
alias tar.list='tar -i -tf'                                                                                                        #  List files in an appended tbz2 archive
alias td='tmux detach'                                                                                                             #  detach
alias th='tmux splitw -h -c "$(pwd)"'                                                                                              #  Split horizontal window and stay in this folder
alias tl='tree -AFL'                                                                                                               #  'Show all folders requires <levels> arg'
alias tna='tmux.NANO'                                                                                                              #  Open 1 or many buffers in nano (even nested tmux)
alias tra='tree -aQlF'                                                                                                             #  Tree + hidden
alias treefl='tree -FL'                                                                                                            #  Tree, show folders, select levels
alias ts='tmux new-session -s'                                                                                                     #  New tmux session
alias tsp='tmux splitw'                                                                                                            #  split window <arg>
alias tsph='tmux splitw -c `pwd` -h -p'                                                                                            #  Split tmux panel |<arg>%
alias tv='tmux splitw -v -c "$(pwd)"'                                                                                              #  Split here
alias txl='tmux ls'                                                                                                                #  List active tmux sessions
alias update='Update | lolcat -a'                                                                                                  #  Update Package Manager
alias upgrade='sudo apt upgrade -y  | lolcat -a'                                                                                   #  Upgrade apt
alias v='nvim'                                                                                                                     #  neovim no args
alias vash='vim $HOME/.ssh/config'                                                                                                 #  Open .ssh/config in Vim Text Editor
alias viswp='rm -vr /home/elijah/.local/share/nvim/swap/*'                                                                         #  Clear nvim swap
alias webdev='bin/webpack-dev-server'                                                                                              #  Webpack Devel
alias wp='bin/webpack-dev-server'                                                                             #  Stop typing so much
alias x='$HOME/.io/.sec/.x'                                                                                   #  Secret secrets
alias xtab='$HOME/.io/blanks/xtab'                                                                            #  Open command in new XFCE Terminal tab
alias xdt='vi.EXEC'                                                                                           #  Create executable with your editor
alias i3='startx $(which i3)' # Find and start i3
alias glo='git log --oneline' # quickinfo
alias gsuba='git submodule add' # Add submodule <URL>
alias mkdir='mkdir -v' # Be verbose
alias rm='rm -v' # Be verbose
alias wp='bin/webpack-dev-server'                                                                                                  #  Stop typing so much
alias x='$HOME/.io/.sec/.x'                                                                                                        #  Secret secrets
alias xtab='$HOME/.io/blanks/xtab'                                                                                                 #  Open command in new XFCE Terminal tab
alias dira='direnv allow'                                                                                                          #  Activate local .direnv file
alias EALL="$EDITOR $HOME/.config/io/local_aliases"                                                                                #  Configure Local Aliases
alias gau='git update-index --assume-unchanged'                                                                                    #  git assume unchanged
alias gan='git update-index --no-assume-unchanged'                                                                                 #  git undo assume unchanged
alias gra='git remote add origin'                                                                                                  #  Add remote (origin) <remote_url>
alias gir='git.INIT'                                                                                                               #  Initialize and add origin remote <url_required>
alias gra='git remote add origin'                                                                                                  #  Add Remote <url_required>
alias gt='/tmp/blks/git.TAG'                                                                                                       #  Git tag <ver> [message]
alias ta='tmux.ATTACH'                                                                                                             #  Tmux attach target <target>
alias ts='tmux new-session -s'                                                                                                     #  New tmux session
alias txl='tmux ls'                                                                                                                #  List active tmux sessions
alias RED='RAILS_ENV=development'                                                                                                  #  Rails Development
alias pac='sudo pacman'                                                                                                            #  Invoke pacman with no arguments; so you can specify breifly
alias docker='sudo docker'                                                                                                         #  docker always sudo
alias ctmux='$EDITOR ~/.config/tmux/tmux.conf'                                                                                     #  Configure tmux
alias td='tmux detach'                                                                                                             #  detach
alias screen='screen -U'                                                                                                           #  always utf-8
alias du='sudo du -hs ./*'                                                                                                         #  list current directory and sizes
alias tsp='tmux splitw'                                                                                                            #  split window <arg>
alias xdt='vi.EXEC'                                                                                                                #  Create executable with your editor
alias R.='. R.'                                                                                                                    #  reset terminal
alias cp='cp -v'                                                                                                                   #  copy verbosely
