# alias neofetch='clear && neofetch --color_blocks off' # 
# alias steam='$HOME/.io/gtab steam' # 'Steam in new term-tab' 
# alias update='sudo apt update -y && apt list --upgradeable' # Update Package Manager
# alias upgrade='sudo apt upgrade -y' # Upgrade apt
alias ..='cd ..' # Up 1
alias ?='cat $HOME/.io/.aliases' # Alias Help
alias Download='$HOME/.io/Download' # Send pasted URL to Downloads folder
alias EAL='sudo nano +3 $HOME/.io/config/.aliases' # Verify user to Edit Aliases
alias SVC='sudo systemctl' # Service Control
alias aar='sudo add-apt-repository' # add package manager repo, requires ppa 
alias aptlist='apt list --upgradable' # list apt upgrades
alias archv='$HOME/.io/Archive' # Archive $files $ArchiveName
alias autorm='sudo apt auto-remove -y' # Cleanup removed apps
alias brackets='$HOME/.io/gtab brackets' # run in new tab
alias brave='$HOME/.io/Brave' # Well titled Brave browser
alias cl='clear && ~/.io/sort.aliases && source ~/.bashrc && date | lolcat' # cls and setAl
alias cleanpass='rm $HOME/Templates/Database.kdbx' # Clear KPDB
alias cls='clear && date | lolcat' # Clear and Date
alias disks='gnome-disks' # Yeah What?!
alias dl='~/.io/duck.links' # Search duckduckgo in a cli browser
alias gcc='$HOME/.io/git.CLONE' # 
alias gen.RM='$HOME/.io/gen.README' # Generate Markdown readme for a script
alias get.ports='sudo netstat -tunlp' # Show listening ports
alias gim='/home/lij/.io/gim' # 
alias gio='$HOME/.io/nano.GITPUSH' # Edit in nano then push 
alias gtab='$HOME/.io/gtab' # New Gnome-Terminal Tab
alias keepass='/usr/bin/keepass' # Password Vault
alias la='ls -aF' # All with symbols
alias lal='ls -alF' # Perms List with Icons
alias marktext='/usr/bin/marktext.AppImage' # MarkText Notes
alias na='$HOME/.io/newAlias' # Create Alias
alias nabak='mkdir .naBak' # set nano
alias nano='nano +3 -N' # Don't Convert mac/Dos 
alias nash='sudo nano +3 $HOME/.ssh/config' # Configure SSH
alias neofetch='clear && neofetch --color_blocks off' # 
alias purge='$HOME/.io/Arch/Purge' # Package Manager Full Remover
alias q='exit' # quit
alias search='$HOME/.io/search' # Query for Files
alias setCFG='$HOME/.io/Prepdot' # Update .io Configs
alias setup='$HOME/.io/Arch/Setup' # Package manager install; singular or space-separated list.
alias sna='sudo nano +3' # Root Text Edit
alias splt='$HOME/.io/split.string' # Split a string into an array
alias ssDisplay='export DISPLAY=:0' # Prep ssh session display
alias steam='$HOME/.io/xtab steam' # 'Steam in new term-tab' 
alias tar.ext='tar -xjvf' # extract tbz2
alias tar.list='tar -i -tf' # List files in an appended tbz2 archive
alias update='sudo pacman -Syu' # Update Package Manager
alias vash='vim $HOME/.ssh/config' # 
alias vis='systemctl start sddm' # 
alias x='$HOME/.io/.sec/.x' # Secret secrets
alias xtab='$HOME/.io/xtab' # Open command in new XFCE Terminal tab
