[user]
	name  = # Set Git User
	email = # Set Git email
[pull]
	rebase = false
[core]
	editor = nvim # Set your prefered editor
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
