[Match]
    Name=*

[Link]
    ARP=true

[Network]
    DHCP=ipv4
    IPv6AcceptRA=no
    LinkLocalAddressing=ipv4
    IPv6LinkLocalAddressGenerationMode=none
    IPv4LLRoute=true
    Gateway=_dhcp

[DHCP]
    RouteMetric=20

[DHCPV4]
    UseDNS=true
    RoutesToDNS=true
    UseNTP=true
    Anonymize=true
    UseHostname=true
    UseRoutes=true
    UseGateway=true
    
